# Dependencies
node_modules/

# Build artifacts
dist/
*.tsbuildinfo

# Environment variables
.env

# Storage and logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Misc
.cache/
.env.test
.env.production
